<body style="background-color:powderblue;">
<center><h1> Edit favourite workout</h1></center>

<form action="/workouts/<%= @workout.id%>" method="post">
<input type="hidden" name="_method" value="patch">



<div>

<center><h2><label for="name">Name:</label><h2></center>
  <center><input type="text" name="workout[name]" id="name"></center>

</div>
<div>
  <center><h2><label for="name">Area:</label></h2></center>
  <center><input type="text" name="workout[area]" id="area"></center>
</div>
<div>
  <center><h2><label for="name">Workout:</label></h2></center>
  <center><input type="text" name="workout[workout]" id="workout"><center>
</div>
 
<div>
<center><h2><input type="submit" value="Edit workout"></h2></center>
</div>

</form>
</body>


