<body style="background-color:powderblue;">
<center><h1> Edit favourite workout</h1></center>

<form action="/workouts/<%= @workout.id%>/edit" method="post">
<input type="hidden" name="_method" value="patch">



<div>

<center><h2><label for="user_id">User ID:</label><h2></center>
  <center><input type="text" name="workout[user_id]" id="user_id" value="<%=current_user[:id]%>"></center>

</div>
<div>
  <center><h2><label for="area">Area:</label></h2></center>
  <center><input type="text" name="workout[area]" id="area" value="<%=@workout.area%>"></center>
</div>
<div>
  <center><h2><label for="name">Workout:</label></h2></center>
  <center><input type="text" name="workout[title]" id="workout" value="<%=@workout.title%>"><center>
</div>
 
<div>
<center><h6><input type="submit" value="Edit workout"></h6></center>
</div>

</form>
</body>


