<body style="background-color:powderblue;">
<center><h2 class="blue-grey-text darken-1"> Workouts : </h2></center>
<center><h3 class="blue-grey-text darken-1"> Below are some workouts created by our amazing athletes!</h3><center>
<center><h3 class="blue-grey-text darken-1"> Click a specific workout to see more details</h3><center>

<ul>
<% @workouts.each do |workout| %>
<li><h3 class="blue-grey-text darken-1"><a href="/workouts/<%= workout.id %>"><%= workout.title %></a></h3></li>
<%end%>
</ul>
</body>
