<body style="background-color:powderblue;">
<center><h1> Workouts : </h2></center>
<center><h3> Below are some workouts created by our amazing athletes!</h3><center>
<ul>
<% @workout.each do |workout| %>
<li><h2><a href="/workouts/<%= workout.id %>"><%= user.name %></a></h2></li>
<%end%>
</ul>
</body>
