<body style="background-color:powderblue;">
<center><h1>Workout details</h1></center>

<center><p>Area: <%=@workout.area%></p></center>
<center><p>Workout: <%=@workout.title%></p></center>




 <% if current_user == @workout.id %> 


 <form action="/workouts/<%=@workout.id%>/edit" method="post">
<input type="hidden" name="_method" value="edit">

<center><input type="submit" value="Edit workout"></center>
</form> 

<form action="/workouts/<%=@workout.id%>" method="post">
<input type="hidden" name="_method" value="delete">

<center><input type="submit" value="Delete User"></center>
</form>
<%end%>