
<body style="background-color:powderblue;">
<center><h1>Welcome to the Login page</h1></center>

<form action="/login" method="post">
  <div>
    <center><label for="login-form-email">Email</label></center>
    <center><input type="text" name="user[email]" value="" id="login-form-email"></center>
  </div>
  <div>
     <center><label for="login-form-password">Password</label></center>
     <center><input type="text" name="user[password]" value="" id="login-form-password"></center>
  </div>
  
  <center><input type="submit" name="" value="login:"></center>
</form>
</body>