
<body style="background-color:powderblue;">
<center><h1 class="blue-grey-text darken-1"> Edit user</h1></center>

<form action="/users/<%=@user.id%>/edit" method="post">
<input type="hidden" name="_method" value="patch">

<div>

<center><h2><label for="name">Name:</label><h2></center>
  <center><input type="text" name="user[name]" id="name"></center>

</div>
<div>
  <center><h2><label for="name">Email:</label></h2></center>
  <center><input type="text" name="user[email]" id="email"></center>
</div>

<div>
  <center><h2><label for="name">Password:</label></h2></center>
  <center><input type="text" name="user[password]" id="password"></center>
</div>

<div>
<center><h2><input type="submit" value="Update information"></h2></center>
</div>

</form>
</body>


