
<html>
 <head>
 <title> Workout tracker</title>
</head>
<body style="background-color:powderblue;">
<center><h1> Create new favourite workout</h1></center>

<form action="/users" method="post">
<div>

<center><h2><label for="name">Name:</label><h2></center>
  <center><input type="text" name="name" id="name"></center>

</div>
<div>
<center><h2><label for="name">Area:</label></h2></center>
<center><input type="text" name="area" id="area"></center>
</div>

<div>
<center><h2><label for="name">Workout:</label></h2></center>
<center><input type="text" name="workout" id="workout"><center>
</div>

<div>
<center><h2><input type="submit" value="Create favourite workout"></h2></center>
</div>

</form>
</body>
</html>
