
<html>
 <head>
 <title> Workout tracker</title>
</head>
<body style="background-color:powderblue;">
<center><h1> Sign up to create a new favourite workout</h1></center>
<div>
    <center><label for="email">Email: </label></center>
    <center><input type="text" name="author[email]" id="email"></center>
  </div>
  <div>

    <center><label for="password">password: </label></center>
    <center><input type="text" name="author[password]" id="password"></center>
  </div>
<form action="/users" method="post">
<div>

<center><h2><label for="name">Name:</label><h2></center>
  <center><input type="text" name="user[name]" id="name"></center>

</div>
<div>
  <center><h2><label for="name">Area:</label></h2></center>
  <center><input type="text" name="user[area]" id="area"></center>
</div>
<div>
  <center><h2><label for="name">Workout:</label></h2></center>
  <center><input type="text" name="user[workout]" id="workout"><center>
</div>
  
<div>
<center><h2><input type="submit" value="Click to become a member and save your favourite workout"></h2></center>
</div>

</form>
</body>
</html>


