
<body style="background-color:powderblue;">
<center><h3 class="blue-grey-text darken-1"> Sign up</h3></center>

<form action="/users" method="post">


<div>

<center><h4 class="teal-text lighten-1"><label for="name">Name:</label><h4></center>
  <center><input type="text" name="user[name]" id="name" placeholder="Full Name"></center>

</div>
  <div>
    <center><h4 class="teal-text lighten-1"><label for="email">Email: </label><h4></center>
    <center><input type="text" name="user[email]" id="email" placeholder="Email"></center>
  </div>
  <div>

    <center><h2><label for="password">Password: </label><h2></center>
    <center><input type="password" name="user[password]" id="password" placeholder="Password"></center>
  </div>
    <div>

    <center><h2><label for="password"> Confirm Password: </label><h2></center>
    <center><input type="text" name="user[password]" id="password" placeholder="Password"></center>
  </div>
<div>
<center><h2><input type="submit" value="Click to become a member"></h2></center>
</div>

</form>
</body>


