<div>
  <center><h2><label for="name">Area:</label></h2></center>
  <center><input type="text" name="user[area]" id="area"></center>
</div>
<div>
  <center><h2><label for="name">Workout:</label></h2></center>
  <center><input type="text" name="workout[title]" id="workout"><center>
</div>