<html>
 <head>
 <title> Workout tracker</title>
</head>
<body style="background-color:powderblue;">
<center><h1 style="color:purple;">Sorry an error has occured </h1></center>
<center><h2 style="color:purple;">Please try and sign up again by clicking the "Create new workout" button on the top left \n or click 'Login' to log in again! </h2></center>
<center><h3 style="color:purple;">Or click athletes to see who has joined and their favourite workouts </h3></center>


</body>
</html>