<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Favourite Workouts Tracker</title>
  </head>
  <body>
  <nav>
  <ul>
<li><a href="/users"> View all athletes!</li>
<li><a href="/users/new">Create new workout </li>
  </ul>
  
  </nav>
 <%= yield %> 
  </body>
</html>

