<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Favourite Workouts Tracker</title>
  </head>
  <body>
  <nav>
  <ul>
     <% if logged_in? %>

  
      <li><form class="" action="/logout" method="post">
        <input type="submit" name="" value="log out">
      </form></li>
    <li><form class="" action="/workout/new" method="post">
        <input type="submit" name="" value="Create workout">
      </form></li>
      
      <% else %>

             <li><a href="/"> Home</a></li>


       <li><a href="/login"> Login</a></li>
       <li><a href="/users/new">Sign up</a></li> 

         <% end %>

     <li><a href="/users"> View all athletes</a></li>
     <%# <li><a href="/users"> Create a workout </a></li> %>


  </ul>
  
  </nav>
 <%= yield %> 
  </body>
</html>

