<html>
 <head>
 <title> Workout tracker</title>
</head>
<body style="background-color:powderblue;">
<center><h1>Welcome back to Workout Tracker</h1></center>
<center><h2>You are logged in now </h2></center>
<center><h3>If you would like to log out click the button below </h3></center>

<form class="" action="/logout" method="post">
       <center> <input type="submit" name="" value="log out"><>
</form>

</body>
</html>