<html>
 <head>
 <title> Workout tracker</title>
</head>
<body style="background-color:powderblue;">


<center><h1 style="color:purple;">Welcome to Workout Tracker</h1></center>
<center><h2 style="color:purple;">A personal website to track all your favourite workouts</h2></center>
<center><h2 style="color:purple;">so you don't have too!</h2></center>
</body>
</html>