<%# <html>
 <head>
 <title> Workout tracker</title>
</head> %>
<body style="background-color:powderblue;">


<center><h3 class="blue-grey-text darken-1" >Welcome to Workout Tracker</h3></center>
<center><h4 class="blue-grey-text darken-1">A personal website to track all your favourite workouts</h4></center>
<center><h4 class="blue-grey-text darken-1" >so you don't have too!</h4></center>


</body>



<center><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-1040635130.jpg?resize=480:*" alt="woman doing press up"></center>


<%# </html> %>